apiVersion: v2
name: matrixdb-operator
description: A Helm chart for matrixdb-operator to run MatrixDB on Kubernetes
# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: &v 0.11.1
# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: *v
# This is the homepage of yMatrix Inc.
home: https://ymatrix.cn/
# This the icon of yMatrix Inc.
icon: https://ymatrix.cn/img/index/logo_blue.svg

annotations:
  artifacthub.io/links: |
    - name: document
      url: https://ymatrix.cn/doc/latest/install/kubernetes
    - name: crd-full
      url: https://ymatrix.cn/doc/latest/install/kubernetes_crd
  artifacthub.io/operator: "true"
  artifacthub.io/operatorCapabilities: Basic Install
  artifacthub.io/license: Apache-2.0
  artifacthub.io/crds: |
    - kind: MatrixDBCluster
      version: v1
      name: matrixdbcluster
      description: A MatrixDB cluster that is deployed by matrixdb-operator.
  artifacthub.io/crdsExamples: |
    - apiVersion: deploy.ymatrix.cn/v1
      kind: MatrixDBCluster
      metadata:
        name: db0
      spec:
        image:
          repository: matrixdb/matrixdb-community
          tag: v4.5.0.community-v0.8.0 # DB image tag
        master:
          enableStandby: true
          memory: 500Mi
          cpu: "0.5"
          storageClassName: gp2 # on EKS
          storage: 1Gi
          workerSelector: {}
        segments:
          count: 1
          enableMirror: true
          memory: 500Mi
          cpu: "0.5"
          storageClassName: gp2 # on EKS
          storage: 1Gi
          workerSelector: {}
        gate:
          memory: 100Mi
          cpu: "0.1"
          storageClassName: gp2 # on EKS
          storage: 1Gi
          workerSelector: {}
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/helm/cert-manager/cert-manager
    - url: https://artifacthub.io/packages/helm/openebs/openebs
    - url: https://artifacthub.io/packages/helm/ymatrix/rawfile-csi
